@import 'mixings';



.nav{
    position:fixed;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 270px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.425);
    
    &__logo{
        justify-self: start;
        margin-left: 80px;
    }

    &__apartados{
        margin-right: 150px
    }

    &__items{
        @include centerFlex;
        
        gap: 10px;
    }

    &__item{
        color: white;
        list-style: none;
    }



    &__icons{
        margin-right: 80px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    &__icon{
        color: white;
    }
    
}